@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: large;
  }
}

@layer base {
  :root {

    --background: 246, 252, 223;

    --foreground: 26, 26, 25;

    --card: 246, 252, 223;

    --card-foreground: 26, 26, 25;

    --popover: 246, 252, 223;

    --popover-foreground: 26, 26, 25;

    --primary: 26, 26, 25;

    --primary-foreground: 246, 252, 223;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 26, 26, 25;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 98 45.9% 21.8%;

    --accent-foreground: 60 2% 10%;

    --destructive: 239 68% 68%;

    --destructive-foreground: 246, 252, 223;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 26, 26, 25;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 26, 26, 25;

    --foreground: 246, 252, 223;

    --card: 26, 26, 25;

    --card-foreground: 246, 252, 223;

    --popover: 26, 26, 25;

    --popover-foreground: 246, 252, 223;

    --primary: 246, 252, 223;

    --primary-foreground: 26, 26, 25;

    --secondary: 49, 81, 30;

    --secondary-foreground: 246, 252, 223;

    --muted: 49, 81, 30;

    --muted-foreground: 0 0% 63.9%;

    --accent: 49, 81, 30;

    --accent-foreground: 246, 252, 223;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 246, 252, 223;

    --border: 49, 81, 30;

    --input: 49, 81, 30;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
